# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pot
*.mo
*.coverage
*.tox/
*.env
.env
venv/
.venv/
ENV/
env/
mkhuda_faiss_index/
mkhuda_chroma/
mkhuda_faiss_backup.json
mkhuda_chroma_backup.json
docs_chroma.json
docs.json